- title "Listado de Clientes"

:javascript
  $(function() {
    var data = #{raw @clientes.map {|o| o.apellidos}};
    $("#buscar").autocomplete(data);
  });

#autocomplete
  - form_tag :action => "buscar"  do
    = text_field_tag :buscar
    = submit_tag "Buscar #{params[:controller].singularize}"

- if @clientes.length == 0
  %p.empty_table No existen clientes registrados.
- else
  %table.main_table
    %th Rut
    %th Nombre
    %th Número Teléfono
    - @clientes.each do |cliente|
      %tr
        %td= cliente.rut.to_s + '-' + cliente.dv
        %td= "#{cliente.nombre} #{cliente.apellidos}".titleize
        %td= "#{cliente.cod_fono} - #{cliente.num_fono}"
        %td= cliente.email
        %td= link_to "Creditos", :controller => "creditos", :cliente => cliente
        %td= link_to "Pedidos", "#"
        - if @administrador
          %td= link_to "Editar", [:edit, cliente]
          %td= link_to "Eliminar", cliente, :method => :delete, :confirm =>'¿Está seguro de eliminar este cliente?'
%p= link_to "Nuevo Cliente", [:new,:cliente], :class => "action_button radius" if @administrador
