:javascript
  $(function() {
    var data = #{raw @productos.map {|o| o.nombre}};
    $(".nombreprod").autocomplete(data);
  });

= form_for @merma do |f|
  #form
    %table
      %tr
        %td
        %td
          = render "shared/error_messages", :target => @merma
      %tr
        %td.label= f.label :nombre_de_producto, 'Producto*'
        %td= f.text_field :nombre_de_producto, :class => "nombreprod"
      %tr
        %td.label= f.label :cantidad, 'Cantidad*'
        %td= f.text_field :cantidad, :size => 5, :maxlength => 5
      %tr
        %td
          %td
            %hr
      %tr
        %td.label= f.label :tipo_merma, 'Tipo Merma*'
        %td= f.select :tipo_merma, options_for_select({"fecha de vencimiento cumplida" => 0, "producto dañado" => 1, "autoconsumo" => 2, "otra razón" =>3 })
      %tr
        %td
          %td
            %hr
      %tr
        %td.label= f.label :comentario, 'Comentario'
        %td= f.text_area :comentario

      %tr
        %td
          %td.hint
            %hr
            (*) Datos Obligatorios
            %hr
      %tr
        %td
          %td
            = f.submit 'Enviar'
            &nbsp;
            = link_to 'Cancelar', :mermas
