- title "Listado de Mermas"

#opciones
  %table
    %td
      %strong Filtrar por:
      = select_tag "tipo_merma", options_for_select({ "Todos" => 4, "Fecha de vencimiento" => 0, "Producto dañado" => 1, "Otra razon" => 3, "Autoconsumo" => 2}, params[:tipo_merma]),:onchange => "document.location='/mermas?tipo_merma=' + this.value"
    %td.buscar_autocomplete
      = render "shared/autocomplete", :objeto => @productos

%center
  %p= will_paginate @mermas
%br

- if @mermas.length == 0
  %p.empty_table No existen mermas ingresadas.
- else
  %table.main_table
    %th Producto
    %th Cantidad
    %th Motivo
    %th Fecha
    - @mermas.each do |merma|
      %tr
        %td= merma.producto.nombre
        %td= cantidad_producto_helper(merma.producto, merma.cantidad)
        %td= (mostrar_tipo_merma merma.tipo_merma).titleize
        %td= tmp_to_date merma.updated_at
        %td= link_to "Editar", [:edit, merma]
        %td= link_to "Eliminar", merma, :method => :delete, :confirm =>'¿Está seguro de eliminar esta merma?'

%center
  %p= will_paginate @mermas
%br

%p= link_to "Nueva Merma", [:new,:merma], :class => "action_button radius"
