- title "Listado de Proveedores"

%table.main_table
  %th Nombre
  %th Teléfono
  %th Email
  - @proveedores.each do |proveedor|
    %tr
      %td= proveedor.nombre
      %td= "#{proveedor.cod_fono} - #{proveedor.num_fono}"
      %td= proveedor.email
