- title @proveedor.nombre.titleize
%table
  %tr
    %td Teléfono:
    %td= "#{@proveedor.cod_fono} - #{@proveedor.num_fono}"
  %tr
    %td E-mail:
    %td= @proveedor.email
  %tr
    %td Encargado:
    %td= "#{@proveedor.nombre_encargado} #{@proveedor.apellidos_encargado}"
  %tr
    %td Productos:
    %td ....

%p= link_to "Volver", :back
