- title "Listado de Pedidos"

#opciones
  %table
    %td
      %strong Filtrar por:
      = select_tag "aceptado", options_for_select({ "pedido pendiente" => false, "pedido aceptado" => true, "todos" => 1 }, params[:aceptado]),:onchange => "document.location='/pedidos?aceptado=' + this.value"

- if @pedidos.length == 0
  %p.empty_table No existen pedidos ingresados.
- else
  %table.main_table
    %th Cliente
    %th Total
    %th Estado
    %th Hora
    %th Día
    - @pedidos.each do |pedido|
      %tr
        %td= pedido.cliente.nombre
        %td= number_to_currency(pedido.total_pedido)
        - if pedido.aceptado?
          %td Aceptado
        - else
          %td Pendiente
        %td= tmp_to_hour(pedido.created_at)
        %td= tmp_to_date(pedido.created_at)
        - unless pedido.aceptado?
          %td= link_to 'Aceptar', :controller => 'ventas', :action => 'aceptar_pedido', :id => pedido.id
        %td= link_to 'Detalle', pedido
        %td= link_to "Eliminar", pedido, :method => :delete, :confirm =>'¿Está seguro de eliminar este pedido?'
