- title "Listado de Pedidos"

%table.main_table
  %th Cliente
  %th Total
  %th Estado
  - @pedidos.each do |pedido|
    %tr
      %td= pedido.cliente.nombre
      %td= number_to_currency(pedido.total_pedido)
      - if pedido.aceptado?
        %td aceptado
      - else
        %td pendiente
        %td= link_to 'Aceptar', :controller => 'ventas', :action => 'aceptar_pedido', :id => pedido.id
      %td= link_to 'Detalle'
      %td= link_to "Eliminar", pedido, :method => :delete, :confirm =>'¿Está seguro de eliminar este pedido?'

