- title "Catálogo de Productos"


%strong
  Categoria:
  = collection_select :producto, :categoria, @categorias, :id, :nombre, :selected => params[:categoria], :prompt => 'todas'

%br
%br
%br

%center
  = will_paginate @productos

#catalogo
  %table
    - count = 0
    - @productos.each do |producto|
      - count += 1
      - if count == 7
        %tr
        - count = 0
      %td
        = image_tag producto.imagen.url(:small), :alt => producto.nombre, :size => "100x100"
        %br
        = producto.nombre.titleize
        %br
        %strong
          = number_to_currency producto.precio_unitario
        %br
        = "Stock: #{stock_real_helper producto}"
        %br
        = link_to 'Agregar', :action => "add_to_carrito", :id => producto.id if @cliente

%br
%center
  = will_paginate @productos
%br
%br
%p.hint (*) Los precios y stocks de los productos pueden estar sujetos a cambios.
%p.hint (*) Todas las imágenes de los productos son representativas y pueden no ser totalmente equivalentes al producto original.
