- title "Balance de cierre de cajas y ventas"

= link_to "Balance de cierre de cajas y ventas", :cierre_venta
|
= link_to "Graficos", :grafico

#opciones
  %table
    %td
      %strong Filtrar por fecha:
- if @vg.length == 0
  %p.empty_table No existen ventas registradas para realizar el balance.
- else
  %table.main_table
    %th Dia
    %th Total Venta
    %th Total Cierre
    %th Saldo
    -@vg.each do |key,value|
      %tr
        %td= key
        -@total_v = Venta.sum(:total_venta, :conditions => ["extract(day from created_at) = ?", key ] )
        %td= number_to_currency @total_v
        -@cg.each do |k,v|
          -if key == k
            -@total_c = CierreCaja.sum(:total, :conditions => ["extract(day from created_at) = ?", k ] )
          -else
            - @total_c = 0
        - if @total_c == 0
          %td Sin cierre
        -else
          %td= number_to_currency @total_c
        %td= number_to_currency (@total_v -@total_c)
