- title "Balance de cierre de cajas y ventas"

= link_to "Balance de cierre de cajas y ventas", :cierre_venta
|
= link_to "Graficos", :grafico

=@bal 
#opciones
  %table
    %td
      %strong Filtrar por fecha:
- if @bal.length == 0
  %p.empty_table No existen ventas registradas.
- else
  %table
    %th Dia
    %th Total Venta
    %th Total Cierre
    %th Saldo
    - @bal.each do |balance|
      %tr
        %td= balance[:dia]
        %td= number_to_currency balance[:totalventa]
        %td= number_to_currency balance[:totalcierre]
        - saldo = balance[:totalventa].to_i - balance[:totalcierre].to_i
        %td= saldo
