- title "Listado de Créditos Pendientes"

- if @creds.length == 0
  %p.empty_table No existen creditos registrados.
- else
  %table.main_table
    %th Fecha de compra
    %th Fecha de pago
    %th Valor de interes
    %th Total s/credito
    %th Total c/credito
    - @creds.each do |credito|
      %tr
        %td= tmp_to_date(credito.created_at)
        %td= credito.fecha_pago
        %td= ((mostrar_interes_entero credito.valor_interes).to_i).to_s + "%"
        %td= number_to_currency(credito.venta.total_venta)
        %td= number_to_currency(credito.total_con_interes)
  %br
  %p.hint
    (*) Las ventas no concretadas antes o durante la fecha estipulada de pago, se cobrará un interés correspondiente.
    %br
    (*) Para mayor información, contactar directamente con el negocio.

= link_to 'Volver a Home', :home
