- title params[:action].titleize

#form
  = form_tag "/verificar_#{params[:action]}" do
    %table
      %tr
        %td.label Usuario
        %td= text_field_tag 'Usuario'
      %tr
        %td.label Contraseña
        %td= password_field_tag 'Contraseña'
      %tr
        %td
          %hr
        %td
      %tr
        %td
        %td= submit_tag 'Enviar'
