- title "Listado de Pedidos"

%center
  %p= will_paginate @pedidos
%br

- if @pedidos.length == 0
  %p.empty_table No existen pedidos ingresados.
- else
  %table.main_table
    %th Cliente
    %th Total
    %th Estado
    %th Hora
    %th Fecha
    - @pedidos.each do |pedido|
      %tr
        %td= pedido.cliente.nombre
        %td= number_to_currency(pedido.total_pedido)
        - if pedido.aceptado?
          %td Aceptado
        - else
          %td Pendiente
        %td= tmp_to_hour(pedido.created_at)
        %td= tmp_to_date(pedido.created_at)
        %td= link_to 'Detalle', pedido

  %br
  %p.hint (*) El vendedor debe aceptar su pedido para poder ser procesado.

= link_to 'Volver a Home', :home
