= form_for @categoria do |f|
  #form
    %table
      %tr
        %td
        %td
          = render "shared/error_messages", :target => @categoria
      %tr
        %td.label= f.label :nombre, 'Nombre de Categoría*'
        %td= f.text_field :nombre
      %tr
        %td
        %td.hint
          Nombre representativo de la categoría de productos
      %tr
        %td
          %td.hint
            %hr
            (*) Datos Obligatorios
            %hr
      %tr
        %td
          %td
            = f.submit 'Enviar'
            &nbsp;
            = link_to 'Cancelar', :categorias
