- title "Listado de Categorías"
- if @categorias.length == 0
  %p.empty_table No existen categorías ingresadas.
- else
  %table.main_table
    %th Nombre
    %th Productos
    - @categorias.each do |categoria|
      %tr
        %td= link_to categoria.nombre.titleize, :controller => 'productos', :categoria => categoria.id
        %td= pluralize(categoria.productos.length, "producto")
        - if @administrador
          %td= link_to "Editar", [:edit, categoria]
          %td= link_to "Eliminar", categoria, :method => :delete, :confirm =>'¿Está seguro de eliminar esta categoría?'
%p= link_to "Nueva Categoría", [:new,:categoria], :class => "action_button radius" if @administrador
