= form_for @producto do |f|
  #form
    %table
      %tr
        %td
        %td
          = render "shared/error_messages", :target => @producto
      %tr
        %td.label= f.label :nombre, 'Nombre*'
        %td= f.text_field :nombre
      %tr
        %td
          %td
            %hr
      %tr
        %td.label= f.label :proveedor_id, 'Proveedor*'
        %td= f.collection_select :proveedor_id, @proveedores, :id, :nombre
      %tr
        %td.label= f.label :categoria_id, 'Categoría*'
        %td= f.collection_select :categoria_id, @categorias, :id, :nombre
      %tr
        %td
        %td
          %hr
      %tr
        %td.label= f.label :granel, 'Producto a granel'
        %td= f.check_box :granel
      %tr
        %td
        %td.hint Marcar si el producto es a granel
      %tr
        %td
        %td
          %hr
      %tr
        %td.label= f.label :precio_unitario, 'Precio*'
        %td
          = f.text_field :precio_unitario
      %tr
        %td
        %td.hint valor monetario entero sin signo peso ($)
      %tr
        %td.label= f.label :stock_real, 'Stock real*'
        %td= f.text_field :stock_real
      %tr
        %td
        %td.hint cantidad unitaria o cantidad en gramos según corresponda
      %tr
        %td.label= f.label :stock_critico, 'Stock crítico*'
        %td= f.text_field :stock_critico
      %tr
        %td
        %td.hint cantidad unitaria o cantidad a gramos según corresponda
      %tr
        %td
          %td.hint
            %hr
            (*) Datos Obligatorios
            %hr
      %tr
        %td
          %td
            = f.submit 'Enviar'
            &nbsp;
            = link_to 'Cancelar', :productos
