- title "Listado de Productos"

= render "shared/autocomplete", :objeto => @productos

- if @productos.length == 0
  %p.empty_table No existen productos ingresados.
- else
  %table.main_table
    %th Nombre
    %th Precio
    %th Stock
    %th Actualizado
    - @productos.each do |producto|
      %tr
        %td= link_to producto.nombre.titleize, producto
        %td= number_to_currency(producto.precio_unitario)
        %td= stock_real_helper producto
        %td= producto.updated_at.strftime(fmt='%d/%m/%Y' )

        - if @administrador
          %td= link_to 'Editar', [:edit, producto]
          %td= link_to 'Eliminar', producto, :confirm => '¿Está seguro de eliminar este producto?', :method => :delete

%p= link_to 'Nuevo Producto', [:new, :producto], :class => 'action_button radius'

