= render "shared/error_messages", :target => @vendedor
= form_for @vendedor do |f|
  %p  
    = f.label :rut
    = f.text_field :rut
    = f.text_field :dv, :size => 2
  %p  
    = f.label :password
    = f.password_field :password
  %p  
    = f.label :administrador
    = f.check_box :administrador
  %p  
    = f.label :nombre
    = f.text_field :nombre

  %p  
    = f.label :apellidos
    = f.text_field :apellidos
 
  %p  
    = f.label :direccion
    = f.text_field :direccion
  
  %p  
    = f.label :cod_fono
    = f.text_field :cod_fono, :size => 3

  %p  
    = f.label :num_fono
    = f.text_field :num_fono

  %p  
    = f.label :email
    = f.text_field :email
 
  %p
    = f.submit "Enviar"

  =link_to "Cancelar", :back
