- title "Listado de Vendedores"

:javascript
  $(function() {
    var data = #{raw @vendedores.map {|o| o.apellidos}};
    $("#buscar").autocomplete(data);
  });

#autocomplete
  = form_tag :action => "buscar"  do
    = text_field_tag :buscar
    = submit_tag "Buscar #{params[:controller].singularize}"

- if @vendedores.length == 0
  %p.empty_table No existen vendedores registrados.
- else
  %table.main_table
    %th Rut
    %th Nombre
    %th Numero Teléfono
    %th Email
    - @vendedores.each do |vendedor|
      %tr
        %td= vendedor.rut.to_s + '-' + vendedor.dv
        %td= "#{vendedor.nombre} #{vendedor.apellidos}".titleize
        %td= "#{vendedor.cod_fono}-#{vendedor.num_fono}"
        %td= vendedor.email
        %td= link_to "Editar", [:edit, vendedor]
        %td= link_to "Eliminar", vendedor, :method => :delete, :confirm =>'¿Está seguro de eliminar este vendedor?'
        %td= link_to "Notas", [vendedor, :notas]
        %td= link_to "Ventas", :controller => "ventas", :vendedor => vendedor.id
%p= link_to "Nuevo Vendedor", [:new,:vendedor], :class => "action_button radius"
