- title "Listado de Vendedores"

%table.main_table
  %th Rut
  %th Password
  %th Administrador
  %th Nombre
  %th Apellidos
  %th Dirección
  %th Código Teléfono
  %th Numero Teléfono
  %th Email
  - @vendedores.each do |vendedor|
    %tr
      %td= vendedor.rut
      %td= vendedor.password
      %td= vendedor.administrador
      %td= vendedor.nombre.titleize
      %td= vendedor.apellidos.titleize
      %td= vendedor.direccion.titleize
      %td= vendedor.cod_fono
      %td= vendedor.num_fono
      %td= vendedor.email
      %td= link_to "Editar", [:edit, vendedor]
      %td= link_to "Eliminar", vendedor, :method => :delete, :confirm =>'¿Está seguro?'
%p= link_to "Nuevo Vendedor", [:new,:vendedor]
