- title "Listado de Notas"

%table.main_table
  %th Vendedor
  %th Nota
  - @notas.each do |nota|
    %tr
      %td= @vendedor.nota.nombre
      %td= nota.texto.titleize
      %td= link_to "Editar", [:edit, nota]
      %td= link_to "Eliminar", nota, :method => :delete, :confirm =>'¿Está seguro?'
%p= link_to "Nueva Nota", [:new,:nota]
