%tr
  %td.fields
    = render "autocomplete", :objeto => @productos
    = f.text_field :nombre_de_producto, :size => 20, :maxlength => 40, :class => "buscar"
    = f.text_field :cantidad, :size => 4, :maxlength => 6
    $00
    = f.hidden_field :_destroy
    = link_to_function "eliminar", "remove_fields(this)"
