= form_for @venta do |f|
  #form
    %table
      %tr
        %td
        %td
          = render "shared/error_messages", :target => @venta
      %tr
        - if :detalleventas
        = f.fields_for :detalleventas do |builder|
          %tr
            %td
            %td.fields
              = render "autocomplete", :objeto => @productos
              = builder.text_field :nombre_de_producto, :size => 20, :maxlength => 40, :class => "buscar"
              = builder.text_field :cantidad, :size => 4, :maxlength => 6
              precio
              = builder.hidden_field :_destroy
              = link_to_remove_fields "eliminar", builder 
      %tr
        %td
        %td
          = link_to_add_fields "+ Agregar producto", f, :detalleventas

      %tr
        %td
        %td
          %hr

      %tr
        %td.label= f.label :vendedor_id
        %td= f.text_field :vendedor_id
      %tr
        %td.label= f.label :numero_boleta
        %td= f.text_field :numero_boleta
      %tr
        %td.label= f.label :tipo_pago
        %td= f.select :tipo_pago, options_for_select({"efectivo" => 0, "crédito" => 1, "tarjeta de débito" => 2})
        = f.fields_for :credito do |builder|
          %tr
            %td.label.credito= builder.label :cliente_id
            %td.credito= builder.text_field :cliente_id
          %tr
            %td.label.credito= builder.label :valor_interes_entero
            %td.credito= builder.text_field :valor_interes_entero
          %tr
            %td.label.credito= builder.label :fecha_pago
            %td.credito= builder.text_field :fecha_pago
      %tr
        %td.label= f.label :total_venta
        %td#total_venta ###
      %tr
        %td
          %hr
        %td
          %hr
      %tr
        %td
        %td
          = f.submit 'Enviar'
          &nbsp;
          = link_to 'Cancelar', :ventas
