- title "Listado de Ventas"

#opciones
  %strong Filtrar por:
  %br
  = select_tag "tipo_venta", options_for_select({ "ventas concretadas" => 0, "ventas anuladas" => 1, "pedidos pendientes" => 2 }, params[:tipo_venta]),:onchange => "document.location='/ventas?tipo_venta=' + this.value"
  = select_tag "tipo_pago", options_for_select({ "pago en efectivo" => 0, "pago a crédito" => 1, "pago con tarjeta de débito" => 2 }, params[:tipo_pago]),:onchange => "document.location='/ventas?tipo_pago=' + this.value"

- if @ventas.length == 0
  %p.empty_table No existen ventas registradas.
- else
  %table.main_table
    %th #Boleta
    %th Total
    %th Fecha
    - @ventas.each do |venta|
      %tr
        - if venta.numero_boleta.nil?
          %td s/b
        - else
          %td= venta.numero_boleta
        %td= number_to_currency venta.total_venta
        %td= venta.created_at
        %td= link_to "Detalle", venta
        %td= link_to "Anular", [:anular, venta], :confirm => "Una venta anulada no podrá volver a ser rescatada, para eso deberá crear una nueva venta. ¿Está seguro?" unless venta.tipo_venta == 1
        %td= link_to "Eliminar", venta, :method => :delete, :confirm => "Realice esta acción si no desea que haya registros de esta venta, está acción es irreversible. ¿Está seguro?"


= link_to 'Nueva Venta', [:new, :venta], :class => 'action_button radius'
