- title "Libro de Ventas"

%table.libro_de_ventas{:border => 1, :cellpadding => 16, :rules => 'cols', :frame => 'vsides'}
  %tr
    %th Días
    %th
      Boletas
      %br
      del N°
    %th
      Boletas
      %br
      al N°
    %th
      Ventas
      %br
      con Boleta
    %th{:colspan => 2}
      Ventas
      %br
      sin Boleta
    %th
      Total ventas
      %br
      con Boleta

    %tr
      %td
      %td
      %td
      %th
        Afectas
        %br
        incluido IVA

      %th Exentas
      %th
        Afectas
        %br
        incluido IVA

  - total_con_boleta_iva = 0
  - total_sin_boleta_iva = 0
  - @ventas.each do |key, value|
    %tr
      %td= key#[1].created_at.day
      -boleta = []
      - con_boleta_iva = 0
      - sin_boleta_iva = 0
      - value.each do |venta|
        - boleta << venta.numero_boleta unless venta.numero_boleta.nil?
        - con_boleta_iva += venta.total_venta if venta.numero_boleta
        - sin_boleta_iva += venta.total_venta if venta.total_venta <= 180 # con evasión de impuestos
        -# sin_boleta_iva += venta.total_venta unless venta.numero_boleta # sin evasión de impuestos
      - total_con_boleta_iva += con_boleta_iva
      - total_sin_boleta_iva += sin_boleta_iva
      %td= boleta.min
      %td= boleta.max
      %td= number_with_delimiter(con_boleta_iva)
      %td
      %td= number_with_delimiter(sin_boleta_iva)
      %td
  %tr
    %td
    %td
    %td
    %td
      %hr
      = number_to_currency(total_con_boleta_iva)
    %td
      %hr
    %td
      %hr
      = number_to_currency(total_sin_boleta_iva)
    %td
      %hr
