= form_for @cierre_caja do |f|
  #form
    %table
      %tr
        %td
        %td
          = render "shared/error_messages", :target => @cierre_caja
      %tr
        %td.label= f.label :total, 'Total*'
        %td= f.text_field :total
      %tr
        %td
        %td.hint
          Total del dinero en caja luego de cerrar un turno, sin signo peso ($)
          %hr
      %tr
        %td
          %td.hint
            %hr
            (*) Datos Obligatorios
            %hr
      %tr
        %td
          %td
            = f.submit 'Enviar'
            &nbsp;
            = link_to 'Cancelar', :cierres_cajas
