= link_to "Home", :home
|
= link_to "Categorías", :categorias
|
= link_to "Productos", :productos
|
= link_to "Vendedores", :login_ventas
|
= link_to "Clientes", :login_clientes
|
= link_to "Acerca", :about
