= link_to "Catálogo", :catalogo
|
= link_to "Categorías", :categorias
|
= link_to "Productos", :productos
|
= link_to "Proveedores", :proveedores
|
= link_to "Clientes", :clientes
|
= link_to "Mermas", :mermas
|
= link_to "Ventas", :ventas
|
= link_to "Pedidos (#{@count_pedidos})", :pedidos
- if @administrador
  |
  = link_to "Vendedores", :vendedores
  |
  = link_to "Estadísticas", :cierre_venta
- if @vendedor
  |
  = link_to "Cerrar Caja", [:new, :cierr_cajas]
