!!!5
%html
  %head
    %title= yield(:head) || "Provisiones Frutras y Verduras Chusmisa"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults, "jquery.autocomplete"
    = csrf_meta_tag

  %body
    #header
      = render "layouts/header"
    #container
      #first_session_menu
        = render "layouts/menu_public" unless @vendedor || session[:cliente_id]
        = render "layouts/menu_vendedor" if @vendedor
      %br
      %h2= yield(:head)
      = flash_helper
      = yield
    #footer
      = render "layouts/footer"

    // ELIMINAR EN PRODUCCION

    %br
    %hr
    = debug(session)
    = debug(params)
