!!!5
%html
  %head
    %title= yield(:head) || "Provisiones Frutras y Verduras Chusmisa"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag

  %body
    #header
      = render "layouts/header"
    #container
      %h2= yield(:head)
      = flash_helper
      = yield
    #footer
      = render "layouts/footer"

    // ELIMINAR EN PRODUCCION

    %br
    %hr
    = debug(params)
