!!!5
%html
  %head
    %title= yield(:head) || "Provisiones Frutras y Verduras Chusmisa"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #header
      = render "layouts/header"
    #container
      %h1= yield(:head)
      = flash_helper
      = yield
    #footer
      = render "layouts/footer"
